<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Detalhes do Projeto</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sunt labore placeat quidem, vel necessitatibus accusamus voluptatum autem quia perferendis hic tenetur modi eveniet similique molestiae! Maxime dignissimos repellat nisi quo amet? Laboriosam itaque molestias quasi sit rem perferendis molestiae!</p>
</body>
</html>